{% load static from staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Currency Converter</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
</head>
<body>

<div class="container">
    <form id="sendForm">

        <label for="email">Recipient</label>
        <input type="email" id="email" name="email" placeholder="recipient@exampe.com">

        <label for="message">Message</label>
        <textarea id="message" name="message" placeholder="Write something.." style="height:200px"></textarea>

        <input type="submit" value="Submit">

    </form>
</div>

<!-- the result of the request will be rendered inside this div -->
<div id="result"></div>

<script>
    // Attach a submit handler to the form
    $( "#sendForm" ).submit(function( event ) {

        // Stop form from submitting normally
        event.preventDefault();

        // Get some values from elements on the page:
        var $form = $( this ),
            email = $form.find( "#email" ).val(),
            message = $form.find( "#message" ).val(),
            url = $form.attr( "action" );

        // Send the data using post
        $.ajax({
            method: "POST",
            crossDomain: true,
            url: url,
            data: JSON.stringify({ email: email, message: message })
        })
        .done(function( res ) {
            $( "#result" ).html( JSON.stringify(res) );
        })
        .fail(function( res ) {
            $( "#result" ).html( '<font color="maroon">' + JSON.stringify(res) + '</font>' );
        });

    });
</script>

</body>
</html>